@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html,
body,
head,
footer {
    font-family: 'Quicksand', sans-serif;
    color: #5a5f6f;
}

.navbar {
    background-color: #342826 !important;
    font-size: 14px;
}

.navbar li a {
    color: white !important;
    margin-right: 10px;
}

.navbar li a:hover {
    color: #e3374e !important;
    transition: 0.2s;
}

.btn-danger {
    border-radius: 10px;
    margin-right: 10px;
}

.dropdown-menu {
    background-color: #e3374e !important;
    transition-delay: 2s;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.container-fluid-header {
    padding: 0px;
    background-color: #342826;
}

.container-fluid-header2 {
    background-image: url('/images/Building-Energy-Effciency/usecase-subpages-topbanner-buildingfacilitiesmanagement.webp');
    width: 100%;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
}

#btn-header2 {
    border-radius: 7px;
    border: 3px solid white;
}

#btn-header2:hover {
    color: #e3374e;
}

.container-fluid-link {
    background-color: #e3dee4;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row__link a {
    color: #444444;
    text-decoration: none;
}

.row__link a:hover {
    color: #e3374e;
    text-decoration: none;
}

.row__link button {
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.row__link button:hover {
    background-color: transparent;
    border: none;
    color: #e3374e;
}

.table__display1 {
    margin-top: 10px;
}

.row__display1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.td__display1 {
    padding-left: 70px;
}

.td__display2 {
    padding-left: 10px;
}

.container-fluid-key {
    background-image: url('/images/Building-Energy-Effciency/background-grey.png');
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-fluid-blocks {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row__blocks {
    padding-top: 30px;
}

.container__blocks p {
    margin-top: 30px;
}

.container-fluid-form {
    background-color: #E3374E;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-group {
    margin-bottom: 0px;
}

.row__form p {
    font-size: 12px;
}

.row__form a {
    color: white;
}

.footer-size {
    padding-top: 50px;
    background-color: rgba(43, 41, 41, 0.973);
}

.footer-size ul {
    padding-inline-start: 0px;
}

.footer-size li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 1rem;
}

.list-item a {
    color: white;
    text-decoration: none;
}

.list-item a:hover {
    color: #e3374e;
}

.term {
    text-decoration: none;
    color: white;
}

.term:hover {
    text-decoration: none;
    color: white
}

.origin {
    text-align: right;
    color: white;
}

.term {
    font-size: 15px;
}

.origin {
    font-size: 15px;
}

.social h5 {
    font-size: 15px;
    color: white;
}

.social p {
    font-size: 12px;
    color: white;
}

.social {
    padding-bottom: 20px;
}

.social:hover {
    text-decoration: none;
}

.fa-map-marker-alt {
    color: #f45454;
}

.fa-instagram,
.fa-facebook,
.fa-twitter,
.fa-youtube {
    color: white;
    font-size: 2rem;
    padding-right: 10px;
}